* {
    font-family: 'Helvetica';
    /* font-size: 14px !important; */
}

.btn-primary {
    background-color: #145DA0 !important; /* Ensure background color is applied */
    box-shadow: 0 4px 15px rgba(20, 93, 160, 0.2) !important; /* Shadow color matches background */
    backdrop-filter: blur(10px) !important; /* Glassy blur effect */    border: none !important;
    padding: 6px 20px !important;
}

.btn-primary:hover {
    box-shadow: 0 5px 20px rgba(12, 35, 56, 0.3) !important; /* Enhanced shadow on hover */

}

.btn-secondary {
    background-color: #6C757D !important; /* Secondary color applied */
    box-shadow: 0 4px 15px rgba(108, 117, 125, 0.2) !important; /* Shadow color matches secondary color */
    backdrop-filter: blur(10px) !important; /* Glassy blur effect */
    border: none !important;
    padding: 6px 20px !important;
}

.btn-secondary:hover {
    background-color: #5a6268 !important; /* Slightly darker shade on hover */
}



.actions {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.flip-icon {
    transform: scaleX(-1) scaleY(-1);
    /* Flips the icon horizontally and vertically */
}


.title {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

}





#postInput {
    height: 50px;
    border: 1px solid #e3e3e3;
}

h4 {
    font-weight: bold;
    color: #145DA0;
}

#text-center {
    font-family: Helvetica;
    color: #145DA0;
    font-size: 35px;
    font-weight: bolder;
    height: 500px;
}

.form-group textarea {
    border: 1px solid rgb(199, 199, 199);
}

.card {
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.5rem;
}

.card-title1 {
    color: #145DA0;
    text-align: center;
    font-weight: bolder;
    text-decoration: none;
}

.custom-button {
    margin-right: 10px;
}

.mt-1 {
    background-color: #f3f3f3;
}

.banner {
    background-size: cover;
    /* Ensures the image covers the entire element */
    background-position: center;
    /* Centers the image */
    background-repeat: no-repeat;
    /* Prevents image repetition */
    width: 100%;
    /* Default height for larger screens */
    position: relative;
    z-index: -1;
}

@media (max-width: 1200px) {
    .banner {
        height: 200px;
        /* Adjust height for medium screens */
    }
}

@media (max-width: 768px) {
    .banner {
        height: 300px;
        /* Adjust height for smaller screens */
    }
}

@media (max-width: 576px) {
    .banner {
        height: 100px;
        width: 30rem;
        /* Adjust height for extra-small screens */
    }
}

/* new post */
@media (max-width: 576px) {
    .btn-responsive .d-none {
        display: none; /* Hide text on small screens */
    }
    .btn-responsive .fa-add {
        font-size: 1.25rem; /* Adjust icon size if needed */
    }
}


/* Back to top button */
#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(20, 93, 160, 0.4); /* Adjust shadow size and opacity as needed */
  }

.button-primary{
    background-color: #145DA0 !important;
    color: #fbfbfe !important;
}


.button-primary:hover{
    background-color: #145DA0 !important;
    color: #fbfbfe !important;
    transform: translateY(-2px); /* Move button slightly upward */
    box-shadow: 0 8px 20px rgba(20, 93, 160, 0.2); /* Shadow with the same button color */
}



  /* comment hover */
.comment-container {
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    width: 100%; /* Ensure the container takes up full width */
    padding: 10px; /* Add padding for spacing inside the container */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.comment-container:hover {
    background-color: #f6f6f6; /* Light background color on hover */
    border-radius: 8px; /* Rounded corners for the hover effect */
}

/* pagination */
.pagination .active>.page-link,
.page-link.active {
    z-index: 3;
    color: #fff;
    background-color: #145DA0;
    border-color: #145DA0;
}

.pagination {
    color: #343434;
}

.pagination .page-link,
.page-link.active {
    z-index: 3;
    color: #343434;
}


/* border */


/* border */
.thick-border {
    border: 10px solid rgb(255, 0, 0); /* Adjust the thickness as needed */
    background: linear-gradient(135deg, #FFC107, #ff8325); /* Gradient colors */
}


/* pro */
.pro-badge {
    background: linear-gradient(45deg, #474747, #cbcbcb);
    color: white;
    padding: 2px 5px;
    border-radius: 12px;
    font-size: 0.75rem;
    font-weight: bold;
    text-decoration: none;
}

a .pro-badge {
    text-decoration: none;
}


.alert-message
{
    margin: 20px 0;
    padding: 20px;
    border-left: 3px solid #eee;
}
.alert-message h4
{
    margin-top: 0;
    margin-bottom: 5px;
}
.alert-message p:last-child
{
    margin-bottom: 0;
}

.alert-message code
{
    background-color: #fff;
    border-radius: 3px;
}


.alert-message-warning
{
    background-color: #fcf8f2;
    border-color: #f0ad4e;
}

.invalid-feedback {
    display: none;
}

/* Page loading */
#loading-spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

#community-content {
    visibility: hidden;
    /* Hide content until fully loaded */
}

.btn-custom{
    padding: 0 !important;
    padding-right: 5px !important;
}
/* Remove the background and border when the button is hovered */
.btn-custom:hover {
    background-color: transparent !important;
    border-color: transparent !important;
}

/* Default state: when the button is not liked */
.btn-outline-secondary:hover .custom-icon {
    color:  #0066FF ;
    transform: scale(1.5) !important;
    transition: transform 0.2s ease-in-out !important;
}

/* Liked state: when the button is already green */
.liked .custom-icon {
    color:  #0066FF ;
    /* transform: scale(1.5) !important; */
    transition: transform 0.2s ease-in-out !important;
}

.liked:hover .custom-icon {
    color: #6c757d; /* Change back to gray (or another color) */
    transform: scale(1.5) !important; /* Shrink the icon */
    transition: transform 0.2s ease-in-out !important;
}


/* TOPIC TAGS */
.bg-flairs {
    background-color: #dfdfdf;
    padding: 8px !important;
    color: #343434 !important;
    font-weight: 500 !important;
}

@media (max-width: 768px) {
    .bg-flairs {
        padding: 4px !important; /* Reduce padding */
        font-size: 12px !important; /* Reduce font size */
    }
}

@media (max-width: 576px) {
    .bg-flairs {
        padding: 5px !important; /* Further reduce padding for smaller screens */
        font-size: 10px !important; /* Further reduce font size */
    }
}


/* BADGE */
/* Default styles for larger screens */
.user-name .full-name, .badge.pro-badge {
    display: inline; /* Show full name and PRO badge on larger screens */
}

@media (max-width: 576px) {
    /* On small screens (576px or less), hide the full name and "PRO" text */
    .user-name .full-name,
    .badge.pro-badge {
        display: none;
    }

    /* Show only the icon */
    .badge.pro-badge i {
        display: inline; /* Ensure the icon is displayed */
        font-size: 20px; /* Adjust icon size if needed */
    }
}


.btn-warning{
    background-color: #ffc107 !important;
    border: none !important;
}


/* BANNER */
 /* Default banner height for larger screens */
 .banner-img {
    object-fit: cover;
}

.banner-title {
    font-size: 2.5rem;
}

/* Media query for tablets (max-width: 768px) */
@media (max-width: 768px) {
    .banner-img {
        height: 300px;
    }

    .banner-title {
        font-size: 2rem;
    }
}

/* Media query for mobile phones (max-width: 576px) */
@media (max-width: 576px) {
    .banner-img {
        height: 200px;
    }

    .banner-title {
        font-size: 1.5rem;
    }

    #searchBar {
        width: 100%;
    }
}
