*{
  font-family: 'Poppins';
  font-size: 14px;
}

#about h2 {
  color: #145da0;
}


/* Banner */
.banner{
background-image: url(images/blue.png);
}


#banner h1{
  color: #FEFEFE;
  font-weight: 700;
  text-align: center;
  margin: auto;
}



.p-5 {
  padding: 15rem !important;
}


@media (min-width: 1024px) {
  h1{
      font-size: 2rem;
      text-align: left;
  }
}

@media (min-width: 500px){
  h1{
      font-size: 3rem;
      text-align: center;
  }

}


/* Services  */
.services-title h2{
  color: #145DA0;
}

.services{
  padding-bottom: 5rem;
}

.container{
/* display: flex; */
flex-direction: row;
justify-content: center;
border-radius: 5px;
}



.container h1{
  font-weight: 700;
}

.services .icon-box {
box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
padding: 50px 30px;
transition: all ease-in-out 0.4s;
background: #fff;
border-radius: 5%;
}

.services .icon-box .icon {
margin-bottom: 10px;
}

.services .icon-box .icon i {
color: #FFC107;
font-size: 36px;
transition: 0.3s;
}

.services .icon-box h4 {
font-weight: 500;
margin-bottom: 15px;
font-size: 24px;
color: #145DA0;
}

.services .icon-box h4 a {
color: #37517e;
transition: ease-in-out 0.3s;
}

.services .icon-box p {
line-height: 24px;
font-size: 14px;
margin-bottom: 0;
}

.services .icon-box:hover {
transform: translateY(-10px);
}

.services .icon-box:hover h4 a {
color: #FFC107;
}




/* Showcase */

#artisans h2{
color: #145DA0;
}

.showcase p{
color: #343434;
line-height: 30px;
padding-top: 1rem; /* 16px */
}

.btn-homepage-buttons {
font-family: sans-serif;
font-weight: 400;
font-size: 16px;
letter-spacing: 0.5px;
display: inline-block;
padding: 10px 28px 10px 28px; /* baliktad na C ang ikot */
border-radius: 5px;
transition: 0.5s;
margin: 10px 0 0 0;
color: #343434;
background: #FFC107;
text-decoration: none;
box-shadow: 0 2px 5px rgba(255, 193, 7, 0.4);

}

.btn-homepage-buttons:hover {
  /* Lighten the color of text*/
  color: #343434; /* Adjust the color code as needed */
  /* Lighten the background color if needed */


  background-color: #ffcf3f; /* button */
}


@media (max-width: 768px){


  .showcase h2{
    padding-top: 2rem;
    font-size: 28px;
    line-height: 36px;
    text-align: center;

  }

  .showcase p{
    text-align: center;
}

  .showcase{
    text-align: center;
    flex-direction: column-reverse;
  }

}

@media only screen and (max-width: 992px){
  .order-sm-1 {
    order: 2;
  }
  .order-sm-2 {
    order: 1;
  }
}



.my-5{
  padding-top: 2rem;
  padding-bottom: 2rem;
}




/* About */
.about{
background-color: rgb(249, 249, 249);
padding: 5rem;

}

.btn-outline-warning{
color: #FFC107;
}


/* Footer */
.text-muted h6{
color: #145DA0;
}

.footer{
background-color: #145DA0;
display: block;

}

.container-footer .container-fluid {
padding-left: 0;
padding-right: 0;
}


.text-reset h6{
text-decoration: none;
}




/* Mixed CSS codes, organize ko later */

.col-md-3 p a{
text-decoration: none;
}


.logo-text h6{
font-size: 25px;
}


.col-md-4{
align-items: center;
}


.mb-lg-5{
padding-bottom: 7rem;
}


.my-4{
padding-top: 2rem;
margin-bottom: 1.5rem;
}


.card-img-top {
width: 100%;
height: 300px; /* Set a fixed height for the images */
object-fit: cover; /* Maintain aspect ratio and cover the container */
}


.card-sub{
box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
background: #fff;
border-color: #FEFEFE;
border-radius: 10px;
display: flex;

}

h5{
text-decoration: none;
}

.card-sub h5{
color: #145DA0;
}


.carousel-caption h5{
color: #FEFEFE;
}


.about-title h1{
  color: #145DA0;
  font-weight: 700;
}

.custom-shadow{
  box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);

}
/* about us section */

.card-title{
font-family: 'Poppins', sans-serif;
  color: #145DA0;
  text-align: left;
  font-weight: 600;
  text-decoration: none;
}


.card-text{
  line-height: 1.5rem;
  font-size: 15px;
  text-decoration: none;
}

.carousel-item img{
  display: block;
}



/* profile */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
body {
width: 100%;
margin: 0;
padding: 0;
box-sizing: border-box;
min-height: 100vh;
font-family: 'Poppins';
}

ul {
list-style-type: none;
margin: 0;
padding: 0;
display: flex;
align-items: center;
}

a {
text-decoration: none;
}

.custom-shadow-profile{
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1); /* Shadow on left, bottom, right only */
}


.container .content{
background-color: #f5f5f5;
padding: 2rem;
border-radius: 10px;


}

#feedbacks h2{
color: #145DA0;
}



.btn-add-buttons{
width: 200px;
padding: 1rem;
font-family: sans-serif;
font-weight: 400;
font-size: 16px;
letter-spacing: 0.5px;
display: inline-block;
border-radius: 5px;
transition: 0.5s;
color: #343434;
background: #FFC107;
text-decoration: none;
}

.btn-add-buttons:hover {
/* Lighten the color of text*/
color: #343434; /* Adjust the color code as needed */
/* Lighten the background color if needed */


background-color: #ffcf3f; /* button */
text-decoration: none;
}

/* Add item */
.btn-card-size{
padding: 3rem;
align-items: center;
height: 100%;
width: 100%;
background-color: #FFC107;




}

.btn-card-size:hover {
/* Lighten the color of text*/
color: #343434; /* Adjust the color code as needed */
/* Lighten the background color if needed */

background-color: #ffcf3f; /* button */

}

.btn-card-size:focus {
outline: none;
border: none;
}

.text-uppercase{
font-weight: 600;
}

h2{
font-weight: 500;
}

.card-img-custom {
object-fit: cover;
height: 200px;
width: 500px;
}

.thick-border {
border: 10px solid white; /* Adjust the thickness as needed */
}


/* Banner */
.banner {
background-color: #145DA0;
padding: 50px 0;
text-align: center;
}


.search-container {
max-width: 1080px;
margin: 0 auto;
}
.search-input {
border-radius: 25px;
}

.mb-10{
margin-bottom: 5rem;
}



.event-banner {
  position: relative;
}

.event-banner img{
  position: relative;
  width: 100%;
  height: 350px;
}



.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 3rem; /* Adjust the font size as needed */
  text-align: center;
}

/*
.btn-primary {
  margin-top: 20px; Adjust as needed
} */



/* Hide the spinner buttons */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
}




/* profile seller and seller blade */

.header__wrapper header {
    border-radius: 10px;
}

.card:hover {
    /* transform: scale(1.1); */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    border: none;
}

.card {
    transition: transform 0.5s;
    cursor: pointer;
}

.form-control {
    border-radius: 10px;
}

.input-group.rounded-pill {
    display: flex;
    align-items: center;
    border-radius: 50px;
    border: 1px solid #ced4da;
    /* Add border to match form control */
}

.input-group .form-control {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border: none;
    box-shadow: none;
}

.input-group .btn {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border: none;
    background: none;
    padding-left: 0.5rem;
    padding-right: 1rem;
}

.input-group .btn i {
    color: #989c9f;
    /* Color of the search icon */
}

.input-group .form-control::placeholder {
    color: #989c9f;
    font-weight: 300;

}

.btn-primary {
    background-color: #86bef2;
    color: #145DA0;
}

.form-control:focus,
.form-control:active {
    outline: none;
    border-color: #FFC107;
    box-shadow: none !important;
}

.pagination .active>.page-link,
.page-link.active {
    z-index: 3;
    color: #343434;
    background-color: #FFC107;
    border-color: #FFC107;
}

.pagination {
    color: #343434;
}

.pagination .page-link,
.page-link.active {
    z-index: 3;
    color: #343434;
}


/* AUGUST 10 - ADDED */

/* product image thumbnails in view modal */
.img-thumbnaill {
    padding: .1rem;
    background-color: var(--bs-body-bg);
    border: .5px solid #aeaeae; /* Add border and color */
    width: 80px;
    height: 75px;
    object-fit: cover;
    display: inline-block;
}

/* Product by */
.user-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 5px;
    vertical-align: middle;
}

.img-thumbnaill {
    padding: .1rem;
    background-color: var(--bs-body-bg);
    border: .2px solid #aeaeae; /* Add border and color */
    width: 80px;
    height: 75px;
    object-fit: cover;
    display: inline-block;
    cursor: pointer;
}

.img-thumbnaill:hover {
    filter: brightness(80%); /* Darken the image by reducing brightness */
    cursor: pointer;
    cursor: -webkit-pointer;


}

.img-thumbnaill.selected {
    border-color: #FFC107; /* Border color when selected */
    box-shadow: 0 0 0 2px #FFC107; /* Optional: add a shadow to highlight the selected image */
}


/* zoom hover */
.zoom-container {
    position: relative; /* Position relative to allow absolute positioning of zoomed image */
    overflow: hidden;  /* Hide overflow to ensure zoomed image doesn't exceed container */

}

.zoom-container img {
    display: block;
    transition: transform 0.3s ease; /* Smooth transition for zoom effect */
}

.zoom-container:hover img {
    transform: scale(2.2); /* Zoom in by 20% */
    cursor:url(/img/layout/backgrounds/moz-zoom.gif), -moz-zoom-in;
    cursor: -webkit-zoom-in;
    cursor: zoom-in;
}

.zoom-container {
    position: relative;
}

.zoom-container:hover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3); /* Semi-transparent overlay for better visibility */
    pointer-events: none; /* Prevent overlay from blocking mouse events */
}

/* tabs */

.user-profile-tab .nav-item .nav-link.active {
    color: #FFC107;
    border-bottom: 2px solid #FFC107;
}


.user-profile-tab .nav-item .nav-link {
    color: #343434;
}

.overflow-hidden {
    overflow: hidden !important;
}


/* AUG 14: Cover Photo */
.container .cover {
    position: relative;
    width: 100%; /* Adjust as needed */
    height: 300px; /* Fixed height for container */
    overflow: hidden; /* Ensure the image fits within the container */
    background-color: #f0f0f0; /* Optional: background color if image fails to load */
}

.header__wrapper {
    width: 100%;
    height: 100%; /* Full height of the container */
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__wrapper img {
    width: 100%; /* Full width of the container */
    height: 400px; /* Full height of the container */
    object-fit: cover; /* Cover the container while maintaining aspect ratio */
    border-radius: 0 0 10px 10px;
}
